[submodule ".config/polybar"]
	path = .config/polybar
	url = https://github.com/maxdevjs/dotfiles-polybar-config
[submodule ".config/bspwm"]
	path = .config/bspwm
	url = https://github.com/maxdevjs/dotfiles-bspwm-config
