[submodule ".config/polybar"]
	path = .config/polybar
	url = https://github.com/maxdevjs/dotfiles-polybar-config
[submodule ".config/bspwm"]
	path = .config/bspwm
	url = https://github.com/maxdevjs/dotfiles-bspwm-config
[submodule ".config/sxhkd"]
	path = .config/sxhkd
	url = https://github.com/maxdevjs/dotfiles-sxhkd-config
[submodule ".config/zsh/.zim"]
	path = .config/zsh/.zim
	url = https://github.com/zimfw/zimfw
[submodule ".config/tmux"]
	path = .config/tmux
	url = https://github.com/maxdevjs/dotfiles-tmux-config
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".config/zsh"]
	path = .config/zsh
	url = https://github.com/maxdevjs/dotfiles-zsh-config
